In [1]:
from searchtweets import ResultStream, gen_request_parameters, load_credentials
import json

In [2]:
search_args = load_credentials(filename='./twitter_keys.yaml',
                 yaml_key='search_tweets_v2',
                 env_overwrite=False)

In [1]:
print(search_args)

In [15]:
query = gen_request_parameters(query='(phk OR layoff OR (tech layoff) OR (tech winter) OR (pemutusan hubungan kerja) OR (startup layoff) OR (startup phk) OR #phk OR #layoff OR #layoffs OR #techwinter) lang:id',
                               results_per_call=500,
                               granularity=None,
                               start_time='2023-01-29',
                               end_time='2023-03-31',
                               expansions='author_id,geo.place_id',
                               tweet_fields='id,text,created_at,entities,in_reply_to_user_id,lang,public_metrics,referenced_tweets',
                               user_fields='id,name,username,created_at,location,public_metrics,verified',
                               place_fields='full_name,id,country,country_code,name,place_type')

In [16]:
print(query)

{"query": "(phk OR layoff OR (tech layoff) OR (tech winter) OR (pemutusan hubungan kerja) OR (startup layoff) OR (startup phk) OR #phk OR #layoff OR #layoffs OR #techwinter) lang:id", "start_time": "2023-01-29T00:00:00Z", "end_time": "2023-03-31T00:00:00Z", "max_results": 500, "tweet.fields": "id,text,created_at,entities,in_reply_to_user_id,lang,public_metrics,referenced_tweets", "user.fields": "id,name,username,created_at,location,public_metrics,verified", "place.fields": "full_name,id,country,country_code,name,place_type", "expansions": "author_id,geo.place_id"}

In [17]:
rs = ResultStream(request_parameters=query, max_tweets=145000, max_requests=295, **search_args)
tweets1 = list(rs.stream())

In [394]:
rs2 = ResultStream(request_parameters=query, max_tweets=145000, max_requests=295, **search_args)
tweets2 = list(rs2.stream())

In [6]:
rs3 = ResultStream(request_parameters=query, max_tweets=145000, max_requests=295, **search_args)
tweets3 = list(rs3.stream())

In [18]:
list_of_tweets1 = []
for i in range (0, len(tweets1)-1):
    for j in range (0, len(tweets1[i]['data'])-1):
        list_of_tweets1.append(tweets1[i]['data'][j])

In [19]:
len(list_of_tweets1)

30036

In [20]:
list_of_users1 = []
for i in range (0, len(tweets1)-1):
    for j in range (0, len(tweets1[i]['includes']['users'])-1):
        list_of_users1.append(tweets1[i]['includes']['users'][j])
        
list_of_places1 = []
for i in range (0, len(tweets1)-1):
    if 'places' in list(tweets1[i]['includes'].keys()):
        for j in range (0, len(tweets1[i]['includes']['places'])-1):
            list_of_places1.append(tweets1[i]['includes']['places'][j])
    else: continue

In [21]:
lou1_not_dupl = list({ each['id'] : each for each in list_of_users1 }.values())
lop1_not_dupl = list({ each['id'] : each for each in list_of_places1 }.values())

In [22]:
list_of_tweets1[0]['created_at'], list_of_tweets1[-1]['created_at']

('2023-03-30T23:56:59.000Z', '2023-01-29T23:43:40.000Z')

In [395]:
list_of_tweets2 = []
for i in range (0, len(tweets2)-1):
    for j in range (0, len(tweets2[i]['data'])-1):
        list_of_tweets2.append(tweets2[i]['data'][j])

In [396]:
len(list_of_tweets2)

50366

In [397]:
list_of_tweets2[0]['created_at'], list_of_tweets2[-1]['created_at']

('2023-01-28T12:00:09.000Z', '2022-12-01T07:16:10.000Z')

In [398]:
list_of_users2 = []
for i in range (0, len(tweets2)-1):
    for j in range (0, len(tweets2[i]['includes']['users'])-1):
        list_of_users2.append(tweets2[i]['includes']['users'][j])
        
list_of_places2 = []
for i in range (0, len(tweets2)-1):
    if 'places' in list(tweets2[i]['includes'].keys()):
        for j in range (0, len(tweets2[i]['includes']['places'])-1):
            list_of_places2.append(tweets2[i]['includes']['places'][j])
    else: continue

In [7]:
list_of_tweets3 = []
for i in range (0, len(tweets3)-1):
    for j in range (0, len(tweets3[i]['data'])-1):
        list_of_tweets3.append(tweets3[i]['data'][j])
        
list_of_users3 = []
for i in range (0, len(tweets3)-1):
    for j in range (0, len(tweets3[i]['includes']['users'])-1):
        list_of_users3.append(tweets3[i]['includes']['users'][j])
        
list_of_places3 = []
for i in range (0, len(tweets3)-1):
    if 'places' in list(tweets3[i]['includes'].keys()):
        for j in range (0, len(tweets3[i]['includes']['places'])-1):
            list_of_places3.append(tweets3[i]['includes']['places'][j])
    else: continue
    
lou3_not_dupl = list({ each['id'] : each for each in list_of_users3 }.values())
lop3_not_dupl = list({ each['id'] : each for each in list_of_places3 }.values())

In [10]:
len(list_of_tweets3), len(lou3_not_dupl), len(lop3_not_dupl)

(59952, 43340, 117)

In [399]:
lou2_not_dupl = list({ each['id'] : each for each in list_of_users2 }.values())
lop2_not_dupl = list({ each['id'] : each for each in list_of_places2 }.values())

In [23]:
with open("tweets_data_feb23_mar23.json", "w") as write_file:
    json.dump(list_of_tweets1, write_file, indent=4)

In [24]:
with open("users_data_feb23_mar23.json", "w") as write_users:
    json.dump(lou1_not_dupl, write_users, indent=4)
    
with open("places_feb23_mar23.json", "w") as write_places:
    json.dump(lop1_not_dupl, write_places, indent=4)

In [414]:
tweets = list_of_tweets1 + list_of_tweets2
users = list({ each['id'] : each for each in (lou1_not_dupl + lou2_not_dupl) }.values())
places = list({ each['id'] : each for each in (lop1_not_dupl + lop2_not_dupl) }.values())

In [415]:
len(tweets), len(users), len(places)

(116665, 62059, 239)

In [416]:
with open("tweets_okt_jan.json", "w") as tweetsFinal:
    json.dump(tweets, tweetsFinal, indent=4)
    
with open("users_okt_jan.json", "w") as usersFinal:
    json.dump(users, usersFinal, indent=4)
    
with open("places_okt_jan.json", "w") as placesFinal:
    json.dump(places, placesFinal, indent=4)

Batch 1 -> 1 Okt-30 Nov (Done)

Batch 2 -> 1 Des - 28 Jan

In [14]:
tweets_fetch = json.load(open('./data/tweets_okt_jan.json'))
users_fetch = json.load(open('./data/users_okt_jan.json'))
places_fetch = json.load(open('./data/places_okt_jan.json'))

In [17]:
tweets_final = list_of_tweets3 + tweets_fetch
users_f = lou3_not_dupl + users_fetch
places_f = lop3_not_dupl + places_fetch

users_final = list({ each['id'] : each for each in users_f }.values())
places_final = list({ each['id'] : each for each in places_f }.values())

In [18]:
len(users_final), len(places_final)

(93865, 304)

In [19]:
with open("./data/tweets_aug_jan.json", "w") as tweetsFinalFix:
    json.dump(tweets_final, tweetsFinalFix, indent=4)
    
with open("./data/users_aug_jan.json", "w") as usersFinalFix:
    json.dump(users_final, usersFinalFix, indent=4)
    
with open("./data/places_aug_jan.json", "w") as placesFinalFix:
    json.dump(places_final, placesFinalFix, indent=4)

## Final

In [25]:
tweets_fetch = json.load(open('./data/tweets_aug_jan.json'))
users_fetch = json.load(open('./data/users_aug_jan.json'))
places_fetch = json.load(open('./data/places_aug_jan.json'))

In [26]:
tweetsfebmar = json.load(open('./data/tweets_data_feb23_mar23.json'))
usersfebmar = json.load(open('./data/users_data_feb23_mar23.json'))
placesfebmar = json.load(open('./data/places_feb23_mar23.json'))
tweetsjanjun = json.load(open('./data/tweets_data_jan22_jun22.json'))
usersjanjun = json.load(open('./data/users_data_jan22_jun22.json'))
placesjanjun = json.load(open('./data/places_data_jan22_jun22.json'))

In [31]:
tweets_final = tweetsjanjun + tweets_fetch + tweetsfebmar
users_f = usersjanjun + users_fetch + usersfebmar
places_f = placesjanjun + places_fetch + placesfebmar

users_final = list({ each['id'] : each for each in users_f }.values())
places_final = list({ each['id'] : each for each in places_f }.values())

In [38]:
with open("./data/tweetsFinalREVISI.json", "w") as tweetsFinalFix:
    json.dump(tweets_final, tweetsFinalFix, indent=4)
    
with open("./data/usersFinalREVISI.json", "w") as usersFinalFix:
    json.dump(users_final, usersFinalFix, indent=4)
    
with open("./data/placesFinalREVISI.json", "w") as placesFinalFix:
    json.dump(places_final, placesFinalFix, indent=4)